.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 99;
  overflow: hidden;
}
.ReactModal__Overlay {
  opacity: 0;
  margin-top: 50px;
  transition: all 1000ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  margin-top: 0;
}
.ReactModal__Content.ReactModal__Content--after-open {
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    overflow: auto;
  }
  .level-item {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
  .job-name {
    max-width: calc(100% - 215px);
  }
}
